<!DOCTYPE html>
<html lang="uk-UA">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Стоматологічна клініка Івано-Франківська: медична клініка лікування зубів в Івано-Франківську | Медіум</title>
    <meta name="subject" content="Стоматологічна клініка Медіум пропонує професійну медичну допомогу в лікуванні зубів в Івано-Франківську: професійні лікарі, доступні ціни">

    <link rel="stylesheet" href="/_public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/_public/css/style.css">
</head>

<body>
    <div id="app">
        <%= body %>
    </div>
    <script src="/_public/bundle.js"></script>
</body>

</html>
